<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.3.4/dist/flowbite.min.css" />
</head>
<body class="flex justify-center">
    <div class="flex flex-col flex-1 bg-white h-screen items-stretch" style="max-width:680px !important">
        <!-- header fragment -->
        <header th:replace="fragments/header :: headerFragment"></header>

        <!-- layout -->
        <div layout:fragment="content" class="flex-grow"></div>


        <!-- footer fragment -->
        <footer th:replace="fragments/footer :: footerFragment"></footer>
    </div>
    <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
</body>
</html>