<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시물 목록</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="contents">

            <h1 class="text-2xl font-bold text-gray-900 text-center my-6">
                <span th:text="${boardName}"></span>
            </h1>

            <div class="flex justify-end">
                <a href="/boards/1/articles/write"
                   class="py-2 px-4 mt-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    작성하기
                </a>
            </div>
        <!--
        1. 게시글 번호
        2. 게시글 제목

        반복목 th:each

        게시글 제목을 클릭할 시 게시글 디테일로 이동하도록.
        -->
            <table>
                <tr>
                    <th>게시판 이름</th>
                    <th>게시글 번호</th>
                    <th>게시글 제목</th>
                </tr>
                <tr th:each="article : ${articleList}">
                    <td th:text="${article.boardName}"></td>
                    <td th:text="${article.id}"></td>
                    <td>
                        <a th:href="@{~/articles/} + ${article.id}">
                            <div th:text="${article.title}"></div>
                        </a>
                    </td>

                </tr>
            </table>

        </div>
    </div>
</div>
</body>
</html>