<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>관리자 - 회원목록</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="contents">

            <h1 class="text-2xl font-bold text-gray-900 text-center my-6">
                <span>회원 목록</span>
            </h1>

            <div class="flex flex-col">
                <div class="overflow-x-auto">
                    <div class="inline-block py-2 min-w-full">
                        <div class="overflow-hidden shadow-md sm:rounded-lg">
                            <table class="min-w-full">
                                <thead class="bg-gray-100 dark:bg-gray-700">
                                <tr>
                                    <th scope="col"
                                        class="py-2 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                        아이디
                                    </th>
                                    <th scope="col"
                                        class="py-2 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                        이름
                                    </th>
                                    <th scope="col"
                                        class="py-2 px-6 text-xs tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                        닉네임
                                    </th>
                                    <th scope="col"
                                        class="py-2 px-6 text-xs tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                        가입일
                                    </th>
                                    <th scope="col" class="relative py-2 px-6">
                                        <span class="sr-only">Edit</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="member : ${members}"
                                    class="border-b odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600">
                                    <td th:text="${member.loginId}"
                                        class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        login id
                                    </td>
                                    <td th:text="${member.name}"
                                        class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                        name
                                    </td>
                                    <td th:text="${member.nickname}"
                                        class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                        nickname
                                    </td>
                                    <td th:text="${#strings.replace(member.regDate,'las','ler')}"
                                        class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                        regDate
                                    </td>
                                    <td class="py-2 px-6 text-sm">
                                        <a th:href="@{~/adm/members/detail/} + ${member.memberId}"
                                           class="text-gray-300">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>