<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시판 디테일</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="contents">

            <h1 class="text-2xl font-bold text-gray-900 text-center my-6">
                <span th:text="${board.name}"></span> 게시판
            </h1>

            <!--   /boards/{id}/articles/write   -->
            <div class="flex justify-end">
                <a th:href="@{~/boards/} + ${board.id} + @{/articles/write}"
                   class="py-2 px-4 mt-2 mb-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
                    게시글 작성
                </a>
            </div>

            <form th:action="@{~/boards/} + ${board.id} + @{?page=} + ${currentPage}"
                  method="GET" class="p-4">
                <div class="flex items-center justify-center">
                    <input type="hidden" page="1" value="1">

                    <label for="table-search" class="sr-only">Search</label>
                    <div class="relative">
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                 fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <input type="text"
                               name="search"
                               th:value="${search}"
                               id="table-search"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-l-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5 "
                               placeholder="Search for items"
                        >
                    </div>
                    <button class="bg-gray-500 text-white p-2 rounded-r-lg">search</button>
                </div>
            </form>

            <th:block th:if="${articles ==  null }">
                null
            </th:block>


            <th:block th:if="${articles.size() == 0 }">
                <div class="text-center py-4 bg-gray-100">검색된 결과가 없습니다.</div>
            </th:block>

            <th:block th:if="${articles.size() != 0 }">
                <div class="flex flex-col">
                    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
                            <div class="overflow-hidden shadow-md sm:rounded-lg">
                                <table class="min-w-full">
                                    <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase   ">
                                            게시글 번호
                                        </th>
                                        <th scope="col"
                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase ">
                                            게시글 이름
                                        </th>
                                        <th scope="col"
                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase ">
                                            게시글 작성자
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="article : ${articles}"
                                        class="bg-white border-b ">
                                        <td th:text="${article.id}"
                                            class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap"></td>
                                        <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap ">
                                            <a th:href="@{~/articles/} + ${article.id}">
                                                <span th:text="${article.title}"></span>
                                            </a>
                                        </td>
                                        <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap ">
                                            <span th:text="${article.nickname}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:unless="${articles.size() == 0 }">
<!-- th:with="searchKeyword=${#request.getParameter('search')}">-->
                <nav class="pageContainer flex justify-center items-center py-8"
                     aria-label="Page navigation example">
                    <ul class="inline-flex items-center -space-x-px">
                        <li th:unless="${ currentPage == 1 }">
                            <a th:href="${search}
                            ? @{~/boards/} + ${board.id} + @{?page=} + ${currentPage - 1} + @{&search=} + ${search}
                            : @{~/boards/} + ${board.id} + @{?page=} + ${currentPage - 1} "
                               class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">
                                <span class="sr-only">Previous</span>
                                <svg class="w-5 h-5" fill="currentColor"
                                     viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(1, maxPage)}">
                            <a th:href="${search}
                            ? @{~/boards/} + ${board.id} + @{?page=} + ${i} + @{&search=} + ${search}
                            : @{~/boards/} + ${board.id} + @{?page=} + ${i} "
                               th:text="${i}"
                               th:class="' py-2 px-3 leading-tight border '+ ${i == currentPage ? 'z-10 text-blue-600 bg-blue-50 border-blue-300 hover:bg-blue-100 hover:text-blue-700': 'text-gray-500 bg-white border-gray-300 hover:bg-gray-100 hover:text-gray-700'}">
                                번호
                            </a>
                        </li>
                        <li th:unless="${ currentPage >= maxPage }">
                            <a th:href="${search}
                            ? @{~/boards/} + ${board.id} + @{?page=} + ${currentPage + 1} + @{&search=} + ${search}
                            : @{~/boards/} + ${board.id} + @{?page=} + ${currentPage + 1}"
                               class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                                <span class="sr-only">Next</span>
                                <svg class="w-5 h-5" fill="currentColor"
                                     viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </th:block>


        </div>
    </div>
</div>
</body>
</html>