<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<footer th:fragment="footerFragment" class="flex flex-col gap-2">
    <ul class="flex gap-2">
        <li>
            <a href="/">About</a>
        </li>
        <li>
            <a href="/">Contcat</a>
        </li>
    </ul>

    <ul class="flex gap-2">
        <li>
            <a href="/">GitHub</a>
        </li>
        <li>
            <a href="/">Blog</a>
        </li>
    </ul>

    <span>
        ©️2022
        <a href="/" class="underline">dkdlelql123</a>. ALL Rights Reserved.
    </span>
</footer>

</html>