<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>

<header th:fragment="headerFragment">
    <div class="header border-b border-gray-100 p-4">
        <nav class="flex align-center justify-between">
            <ul>
                <a href="/"
                   class="inline-flex border-b-2 border-t border-t-2 border-gray-900 font-bold transition-all py-1 px-1 hover:px-2">
                    <span>내일부터 다이어트</span>
                </a>
            </ul>

            <ul class="flex items-center">
                <li sec:authorize="isAnonymous"
                    class="space-x-2 > *"
                >
                    <a th:href="@{~/members/login}">로그인</a>
                    <a th:href="@{~/members/join}">회원가입</a>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <!-- principal에 회원이 담겨진다. -->
                    <!-- principal username 불러오기  -->
                    <button id="dropdownInformationButton"
                            data-dropdown-toggle="dropdownInformation"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            type="button" sec:authentication="principal.loginId">
                            loginId
                            <svg class="ml-2 w-4 h-4" fill="none"
                                 stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="dropdownInformation"
                         class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                        <div class="py-3 px-4 text-gray-900 dark:text-white" >
                            <span class="block text-sm" sec:authentication="principal.username">name</span>
                            <span class="block text-sm font-medium truncat" sec:authentication="principal.email">exam@aaa.com</span>
                        </div>
                        <ul class="py-1"
                            aria-labelledby="dropdownInformationButton">
                            <li>
                                <a href="/members/modify"
                                   class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">내정보수정</a>
                            </li>
                            <li>
                                <a href="/articles/write/"
                                   class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">게시글 작성하기</a>
                            </li>
                        </ul>
                        <div class="py-1">
                            <a href="/members/logout"
                               class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">로그아웃</a>
                        </div>
                    </div>
                </li>
            </ul>

        </nav>
    </div>
</header>
<body>

</body>
</html>