<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>

<header th:fragment="headerFragment">
    <div class="header border-b border-gray-100 p-4">
        <nav class="flex align-center justify-between">
            <ul>
                <a href="/"
                   class="inline-flex border-b-2 border-t border-t-2 border-gray-900 font-bold transition-all py-1 px-1 hover:px-2">
                    <span>내일부터 다이어트</span>
                </a>
            </ul>

            <ul class="flex items-center">
                <li sec:authorize="isAnonymous"
                    class="space-x-2 > *"
                >
                    <a th:href="@{~/members/login}">로그인</a>
                    <a th:href="@{~/members/join}">회원가입</a>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <!-- principal에 회원이 담겨진다. -->
                    <!-- principal username 불러오기  -->
                    <span sec:authentication="principal.username">님</span>
                </li>
            </ul>

        </nav>
    </div>
</header>
<body>

</body>
</html>