<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<div th:fragment="menuFragment" class="w-full flex justify-center items-center fixed bottom-0 bg-white text-center shadow-sm h-12">
        <div class="flex w-full" style="max-width:680px !important">
            <a href="/" class="flex-1 py-2">HOME</a>
            <a href="/boards" class="flex-1 py-2">COMMUNITY</a>
            <a href="/members/login" class="flex-1 py-2" sec:authorize="isAnonymous()">MYPAGE</a>
            <a th:href="@{/mypage/} + ${#authentication.name}" class="flex-1 py-2" sec:authorize="isAuthenticated()">MYPAGE</a>
        </div>
    </div>
</div>
</html>