<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container mt-24">
        <div class="contents">

            <div th:text="${member.nickname}"></div>

            <div class="flex flex-col">
                <div class="overflow-x-auto">
                    <div class="inline-block py-2 min-w-full">
                        <div class="overflow-hidden shadow-md sm:rounded-lg">
                            <table class="min-w-full">
                                <thead class="bg-gray-100 dark:bg-gray-700">
                                <tr>
                                    <th scope="col"
                                        class="py-2 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                        번호
                                    </th>
                                    <th scope="col"
                                        class="py-2 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                        개시판이름
                                    </th>
                                    <th scope="col"
                                        class="py-2 px-6 text-xs tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                        제목
                                    </th>
                                    <th scope="col"
                                        class="py-2 px-6 text-xs tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                        작성일
                                    </th>
                                    <th scope="col" class="relative py-2 px-6">
                                        <span class="sr-only">Edit</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="article : ${member.articleDTO}"
                                    class="border-b odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600">
                                    <td th:text="${article.id}"
                                        class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        id
                                    </td>
                                    <td th:text="${article.boardName}"
                                        class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                        boardname
                                    </td>
                                    <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                        <a th:href="@{~/articles/} + ${article.id}">
                                            <div th:text="${article.title}" ></div>
                                        </a>
                                    </td>
                                    <!--                                    #temporals.format(member.regDate, 'yyyy-MM-dd')-->
                                    <td th:text="${#strings.replace(article.reg_date,'T',' ')}"
                                        class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                        regDate
                                    </td>
                                    <td class="py-2 px-6 text-sm flex justify-center gap-2 items-center">
                                        <i class="fas fa-trash"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>